body {
    & h1 {
        font-weight: 900;
    }

    & svg {
        height: 84px;
    }

    & header {
        display: flex;

        & h1 {
            font-weight: 700;
            font-size: 60px;
            align-self: center;
            padding: 36px 0;
        }

        & nav {
            & a {
                color: var(--corParag);
                text-decoration: none;
            }

            & a:active {
                color: var(--corSelecoes);
            }

            & a:visited {
                color: var(--corTitulos);
            }
        }
    }

    & main {
        & section {
            margin: 60px 24px;
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 400px;
                padding-top: 18px;
            }

            & h3 {
                font-size: 80px;
                padding-top: 18px;
            }
        }
    }

    & footer {
        background-color: var(--corParag);
        width: 97vw;
        height: 10vh;
        border-radius: 8px 8px 0 0;
        color: var(--corFundo);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}