<header>
    <div class="d-flex justify-content-center p-3">
        <h1>Bem vindo ao home!</h1>
    </div>
</header>
<main>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Menu
        </button>
        <ul class="dropdown-menu">
            <li><a routerLink="/cidade-lista" class="dropdown-item">
                <i class="far fa-circle nav-icon"></i>
                Listar cidades
            </a></li>

            <li><a routerLink="/cliente-lista" class="dropdown-item">
                <i class="far fa-circle nav-icon"></i>
                Listar clientes
            </a></li>
        </ul>
    </div>
</main>
<footer></footer>