<header>
    <h1>Lista de cidades</h1>
</header>
<main>
    <button type="button" class="btn btn-primary" [routerLink]="['/cidade-form']">
        Novo
    </button>

    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table class="table table-condensed">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>UF</th>
                <th>Opções</th>
            </tr>
            </table>
        </div>
    </div>
</main>
<footer></footer>