{% extends 'Bases/base-list.html' %}

{% block 'tipo_listagem' %}Cidade{% endblock %}

{% block colunas %}
    <th scope="col">Nº</th>
    <th scope="col">Nome</th>
    <th scope="col">UF</th>
    <th scope="col">Opções</th>
{% endblock %}

{% block tratam_dados %}
    {% for cidade in cidades %}
        <tr>
            <th scope="row">{{ cidade.pk }}</th>
            <td>{{ cidade.nome }}</td>
            <td>{{ cidade.uf }}</td>
            <td><a href="{% url 'EditCidade' cidade.pk %}">Editar</a></td>
        </tr>
    {% empty %}
        <td><li class="text-danger">Nenhum registro encontrado.</li></td>
    {% endfor %}
{% endblock %}