@charset "UTF-8";

:root {
    --corFundo: #1D1E2C;
    --corTitulos: #BDDBD0;
    --corParag: #CBD0B9;
    --corSelecoes: #C05746;
}

body {
    background-color: var(--corFundo);
    color: var(--corParag);
    font-family: "Lato", sans-serif;
}