<header class="row d-flex justify-content-center my-5">
    <h1>Lista de clientes</h1>
</header>
<main>
    <div class="row d-flex justify-content-end">
        <button type="button" class="btn btn-primary mx-5 my-3" [routerLink]="['/cliente-form']">
            Novo cliente
        </button>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clienteLista">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.id_cidade_lookup }}</td>
                        <td>
                            <button type="button" routerLink="/cliente-form/{{ cliente.id }}" class="btn btn-primary">
                                Alterar
                            </button>

                            <button type="button" class="btn btn-danger" (click)="seleciona_cliente(cliente)" data-toggle="modal" data-target="#modalDelecao">
                                Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-reader">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="clienteSelecionado" >
                    Confirma a deleção do Cliente {{clienteSelecionado.id}} - {{clienteSelecionado.nome }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sucess" (click)="excluir()" data-dismiss="modal">Confirmar </button>
                    <button class="btn btn-default" data-dismiss="modal">Cancela</button>
                </div>
            </div>
        </div>
    </div>
</main>
<footer></footer>