:root {
    --cor-bg: #3d405b;
    --cor-branco: #f4f1de;
    --cor-primaria: #f2cc8f;
    --cor-secundaria: #eab69f;
    --cor-contraste: #191b2c;
    --cor-selecoes: #81b29a;
    --cor-negacoes: #e07a5f;
}

* {
    color: var(--cor-branco);
}

body {
    background-color: var(--cor-bg) !important;

    & button {
        color: var(--cor-contraste) !important;
        background-color: var(--cor-primaria) !important;
        border-color: var(--cor-primaria) !important;
    }

    & button:hover {
        color: var(--cor-contraste) !important;
        background-color: var(--cor-selecoes) !important;
        border-color: var(--cor-selecoes) !important;
    }
}